<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPrep | Register</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/register.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

<div class="container">

    <div class="glass-card">

        <h1>SmartPrep</h1>

        <p class="tagline">
            Create Your Student Account
        </p>

        {% if error %}
        <div class="error-message">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span>{{ error }}</span>
        </div>
        {% endif %}

        <form method="POST">

            <div class="input-box">

                <i class="fa-solid fa-user"></i>

                <input
                    type="text"
                    name="fullname"
                    placeholder="Full Name"
                    required>

            </div>

            <div class="input-box">

                <i class="fa-solid fa-envelope"></i>

                <input
                    type="email"
                    name="email"
                    placeholder="Email Address"
                    required>

            </div>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required>

            </div>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm Password"
                    required>

            </div>

            <button type="submit" class="register-btn">
            Register
            </button>

        </form>

        <p class="register-text">

            Already have an account?

            <a href="/login">Login</a>

        </p>

    </div>

</div>

</body>
</html>